.pagination-centered {
	text-align: center;
}

.pagination-ranges {
	padding: 6px;
	text-align: right;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}